main {
    justify-self: right;
    background-color: salmon;
}

.dashboard-wrapper {
    background-color: seagreen;
    align-items: right;
    width: 100vw;
    height: 100vh;
}
.dashboard-buttons {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}