form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

input, button {
  color: black;
}

.submittedIngredient {
  background-color: green;
}

.notSubmittedIngredient {
  background-color: grey;
}

span {
  background-color: brown;
  min-width: 5rem;
}