body {
    background-color: #202020;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: block;
    color: #eee;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
hr {
    color: rgba(54, 54, 54, 0.5);
    padding: 0px;
    margin: 0px;
    width: auto;
}


.tasks-div {
    background-color: brown;
    width: 50%;
    margin: auto;
    display: block;
}

.tasks__list {
    background-color: blue;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.tasks__list__task {
    background-color: blue;
    width: 100%;
    
}

.task-generator {
    background-color: rgb(54, 54, 54);
}


.task-generator__span {
    box-sizing: border-box;
    display: inline-block;
    width: 99%;
    border: 3px solid teal;
    border-radius: 1%;
}
.task-generator__span:focus {
    outline: none;
    background-color: #171717;
}