<html>

<head>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="tasks-div">
        <h1>Organize it</h1>
        <ul class="tasks__list" id="tasks__listID">
            <li>Wyprowadzić psa</li>
            <hr>
            <li>
                <span>Zjeść obiad w spanie</span>
            </li>
            <hr>
            <li><span>Baaaaaaaaadsadasdadasdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaardzo dlugi task w spanie</span></li>
            <hr>
            <li id='leki'>Wziąć leki</li><i class="material-icons">delete</i>
            <hr>
            <li>Baaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaardzo dlugi task</li>
        </ul>
        <form class="task-generator" action="#">
            <div class="task-div">
                <span class="task-generator__span" id="task-generator__span" contenteditable="true"> hehe</span>
            </div>
            <button type="submit" id="submit-btn">Zapisz</button>
        </form>
    </div>
    <script src="scripts.js"></script>
</body>


    
</html>
