<html>
    <head>
        <link href="../styles/quiz.css" rel="stylesheet">
        <script src="../scripts/quiz.js"></script>
    </head>
    <body>
        <h1>This is quiz site</h1>
        <div class="flashcard-wrapper">
            <div class = "flashcard-wrapper__question">
                <span id='question'>What is the capitol of Grenada?</span>
            </div>
            <div class = "flashcard-wrapper__answer">
                <input placeholder="Answer ..." id="answer">
            </div>
            <div class = "flashcard-wrapper__button">
                <button onclick="getResult()">Submit answer</button>
                <button onclick="next()">next</button>
            </div>
        </div>
    </body>
</html>