<html>
    <head>
        <link href="../styles/quiz.css" rel="stylesheet">
        <script src="../scripts/quiz.js"></script>
    </head>
    <body>
        <h1>This is quiz site</h1>
        <div class="flashcard-wrapper">
            <div class="flashcard-wrapper__image">
                <img src="https://user-images.githubusercontent.com/194400/49571717-f392d480-f931-11e8-96f2-a8d10cfe375e.png">
            </div>
            <div class = "flashcard-wrapper__question">
                <span id='question'>What is the capitol of Grenada?</span>
            </div>
            <div class = "flashcard-wrapper__answer">
                <span id='answer'></span>
            </div>
            <div class = "flashcard-wrapper__button">
                <button onclick="revealAnswer()">Get answer</button>
                <button onclick="next()">next</button>

            </div>
        </div>
    </body>
</html>