body {
    background-color: #202020;
    padding: 0px;
    margin: 0px;
    color: #eee;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    height: 100vh;
}

.app-wrapper {
    width: 70vw;
    height: 100vh;
    background-color: rgb(40,40,40);
    margin: auto;
}

.main-h {
    padding: 20px;
    margin: 0;
}

.flashcard-list {
    list-style: none;
    margin: 0;
    padding: 20px;
}


li:nth-child(odd) {
    background: rgba(238, 204, 13, 0.8);
}
li:nth-child(even) {
    background: rgba(40,170,40, 0.3);
}

.flashcard-list__item {
    padding: 20px;
    cursor: pointer;
}
.flashcard-list__item:hover {
    filter: invert();
}