@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, Arial, 'Courier New';
    color: black;
}

/* html {
    background-color: ;
} */

body {
    /* background-color: #28292c; */
    margin: 0;
    padding: 0;
}

/* p {
    color: inherit;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    font-size: inherit;
    text-align: justify;
    margin: 1rem;
} */

a {
    text-decoration: none;
    color: initial;
}

a:hover {
    color: gold;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    padding: 1rem;
    margin: 0;
    color: black;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.2rem;
}

header {
    background-color: #71816d;
    padding: 0.3rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 1.2rem;
    max-height: 15vh;
}

.circular-img {
    width: 3rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(29, 185, 84, 0.8);
    border-radius: 50%;
}
.circular-img:hover {
    background-color:rgb(236, 168, 69);
}