form {
    /* margin: 2rem; */
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: teal;
}

form label,
input {
    font-family: 'Courier';
    /* margin: 10px 5px 10px 5px; */
    font-size: inherit;
}

form input,
select 
{
    outline: none;
    background-color: #F1E0C5;
    box-shadow: -0.3em -0.25em 0em rgba(0,0,0,0.3);
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1rem;
}


fieldset {
    all: unset;
    border-width: 1px;
    border-color: 'black';
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    /* padding: 0.2rem; */
    padding-left: 1.5rem;

}

/* fieldset fieldset {
    margin-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-right: 0;
} */

form button.control-button {
    margin: 0 10px 0 10px;
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    box-sizing: border-box;
    line-height: 1.75;
    border-radius: 7px;
    text-transform: uppercase;
}