<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/drop-zone.css">
        <link rel="stylesheet" href="../styles/add-flashcard.css">        
        <link rel="stylesheet" href="../styles/main.css">        
    </head>
    <body>
        <div class = "question-wrapper app-wrapper">
            <form
                class="flashcard-form"
                action="/add-flashcard"
                method="post"
                encType="multipart/form-data">
                <div class="drop-zone">
                    <span class="drop-zone__prompt noselect">Drop image here</span>
                    <input type='file' name='fileUploaded' class="drop-zone__input">
                </div>
                <div class = "question-wrapper__question">
                    <input name='question' placeholder="Type question ..." id="question">
                </div>
                <div class = "question-wrapper__answer">
                    <input name='short-answer' placeholder="Short answer ..." id="short-answer">
                </div>
                <div class = "">
                    <input name='long-answer' placeholder="long answer" id="long-answer">
                </div>
                <div class = "">
                    <input name='page' placeholder="page number" id="page">
                </div>
                <div class = "">
                    <input name='ref-url' placeholder="ref url" id="ref-url">
                </div>
                <div class = "">
                    <input name='code-sample-url' placeholder="code sample url" id="code-sample-url">
                </div>
                <div>
                    <select required id="flashcardSet" class="fcSet-dropdown" name="flashcardSet">
                        <!-- <option disabled value="" selected>Select something...</option> -->
                    </select>
                </div>
                <div class = "question-wrapper__button">
                    <button type="submit">Add flashcard</button>
                </div>
            </form>
        </div>
        <script src="./../scripts/dragNdrop.js"></script>
        <script src="./../scripts/addFlashcard.js"></script>
    </body>
</html>