body {
    background-color: #202020;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #eee;
    font-family: Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

h1.mainheader {
    margin: 20px;
}

.flashcard {
    width: 70vw;
    max-width: 600px;
    min-height: 100vh;
    background-color: rgba(40,40,40);
    margin: auto;
    padding: 30px;
    border-radius: 3px;
}

.flashcard__buttons {
    padding: 20px;
}

.flashcard__buttons button {
    margin: 10px;
    cursor: pointer;
    font-size: large;
    font-family: Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: bold;
    box-shadow:  1px 1px 3px rgba(228, 189, 14, 0.5);
    
}

.flashcard__question {
    padding: 20px;
    box-sizing: border-box;
    background-color: salmon;
}
p.flashcard__question {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: seagreen;
    margin: 0;

}

div.flashcard__answer-wrapper {
    width: 100%;
    box-sizing: border-box;
    background-color: grey;
    padding: 20px;
    margin: 0;
}
p.flashcard__answer {
    margin: 0;
}


.flashcard-wrapper__image {
    box-sizing: border-box;
    display: block;
    background-color: lightsalmon;
    background-image: url("./../icons/photo.svg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
}

.flashcard-wrapper__image img {
    /* width: 100%;
    height: 100%; */
    display: block;
    width: 100%;
    height: auto;
}

.flashcard__answer_ref-url {
    padding: 20px;
    cursor: pointer;
}
.flashcard__answer_ref-url:hover {
    color: gold;
}



.flashcard__code {
    padding: 20px;
}